body{
background: #f4f4f4;
font-size: 18px;
font-family: "Roboto slab", sans-serif;
}

a:hover
{
color: #3E7BAB;
text-decoration: none;
}

a:visited
{
color: #3E7BAB;
text-decoration: none;
}

a:active
{
color: #3E7BAB;
text-decoration: none;
}

a:link
{
color: #3E7BAB;
text-decoration: none;
}

/*------- Вход в админку --------*/
.formEnter
{
width: 350px;
margin: 7% auto 0;
background: #fff;
padding: 20px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
color: red;

}

.formEnter p
{
font-size: 22px;
font-weight: 700;
color: black;
}

form
{
font-size: 18px;
padding: 10px 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

input
{
margin: 15px 0;
width: 99%;
height: 40px;
font-size: 16px;
}

button
{
margin: 15px 0;
width: 100%;
height: 46px;
background: #558cb7;
border: 0;
font-size: 16px;
color: #fff;
}

button:hover
{
	cursor: pointer;
	background: #497698;
}

.layout_footer
{
width: 350px;
margin: 1% auto;
background: #fff;
padding: 20px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
