html{
	height: 100%;
}
body{
	padding: 0; margin: 0;
	background: #eef3fb no-repeat top center fixed;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

a{
	color: #444;
}

/* --- Хедер ---*/
header{
	width: 100%;
	/*flex: 1 0 auto;*/ /*чтобы в article.php хедер не увеличивал height*/
	background: #ccc;
	color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

nav	{
	margin: 0 auto;
	width: 980px;
}
nav ul{
	margin: 10px 12px;
	max-width: 100%;
	float: right;
	display: flex;
	/*flex-wrap: wrap-reverse;*/
	flex-direction: row;*/
}
nav ul li{
	list-style: none;
	float: right;
	display: block;
	padding: 10px;
}

nav ul li a{
	padding: 22px 10px;
	font-size: 16px;
}

/*nav ul li :last-child{
 padding-right: 0px; 
}
*/
nav ul li a:hover{
	/*background: rgba(120,120,120,0.3);*/
	text-decoration: none;
}


/* --- Основной контейнер ---*/
main{
	flex: 1 0 auto;
	width: 980px;
	min-height: 80%;
	display: flex;
	margin: 0px auto;
	flex-direction: column;
}

section.quote{
	width: 980px;
	height: 200px;
	/*background: #ccc;*/
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;

}
.blockquote{
	font-size: 18px;
	padding: 10px 20px;
	font-family: Trattatello, fantasy, sans-serif;
}

.quote>p{
	text-align: center;
}

.wrapper{
	width: 980px;
	/*background: #ccc;*/
}

section .section_article{
	width: 700px;
	min-height: 500px;
/*	background: #ccc;*/
	float: left;
}

/*----- Боковая панель -----*/
aside{
	width: 265px;
	height: 432px;
	margin: 0 0 0px 15px;
	/*background: #ccc;*/
	float: right;
	box-sizing: border-box;
}

aside.last_comments{
	margin: 15px 0 0 0;
}

.block_name{
	padding: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	background: #ccc;
	margin-bottom: 4px;
}

.block_body{
	height: 400px;
	width: 100%;
	background: #ccc;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

article{
	padding: 1%;
	margin-bottom: 3px;
	box-shadow: 0 0 5px 1px #bdb2b2;
	box-shadow:
 	  0 1px 4px rgba(0, 0, 0, .3),
      -5px 0 20px -23px rgba(0, 0, 0, .8),
      5px 0 20px -23px rgba(0, 0, 0, .8);
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}
/*article:hover{
	background: rgba(255,255,255, 0.4);
}*/

.article_img{
	max-width: 20%;
 	max-height: 150px;
 	margin: 20px 5px 5px 5px;
}

.article--cont{
	margin-left: 5px;
}

.article--cont em{
	font-size: 12px;
}

.article--cont p{
	text-align: left;
	margin-right: 8px;
}
/* --- Футер ---*/
footer{
	flex: 0 0 auto;
	width: 980px;
	margin: 15px auto;
	padding: 0 1%;
	background: #ccc;
}


/*------- Вход в админку --------*/
.form_admin{
	width: 30%;
	min-height: 60%;
	margin: 20 auto;
	background: rgba(255,255,255,0.4);
}


a.submit1{
	padding: 3%;
	display: block;
}
.submit1:hover{
	background: rgba(204,204,204,0.7);
}

form {
	margin: 15% 27%;
}

form input{
	margin: 2% 0;
}

/*------- Админка --------*/
tr:hover{
	background: rgba(255,255,255,0.4);	
}
td a{
	width: 100%;
	height: 100%;
	display: block;
}

