html{
	height: 100%;
}
body{
	padding: 0; margin: 0;
	background: url(../images/bc2.jpg) #a09b97 no-repeat top center fixed;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* --- Хедер ---*/
header{
	margin: 2% 20% 0 20%;
	overflow: hidden;
	flex: 1 0 auto;
}

nav ul{
	margin: 2% 5%;
	max-width: 100%;
}
nav ul li{
	list-style: none;
	float: right;
	display: block;
	padding: 15px;
}

nav ul li a{
	padding: 15px;
}

nav ul li a:hover{
	background: rgba(255,255,255,0.3);
	text-decoration: none;
}


/* --- Основной контейнер ---*/
main{
	flex: 1 0 auto;
	min-height: 80%;
	overflow: hidden;
}

section{
	background: rgba(255,255,255, 0.4);
	overflow: hidden;
	width: 980px;
	margin: 0 auto; 
	padding: 1%;
}

article{
	padding: 1%;
	margin-top: 1%;
	width: 90%;
}
article:hover{
	background: rgba(255,255,255, 0.4);
}

.articles_img{
/*  	width: 30%;*/
 	max-height: 200px;
}

.article_img{
	max-width: 100%;
	height: 100%;
}


/* --- Футер ---*/
footer{
	flex: 0 0 auto;
	width: 980px;
	margin: 1% auto;
	padding: 0 1%;
}


/*------- Вход в админку --------*/
.form_admin{
	width: 30%;
	min-height: 60%;
	margin: 20 auto;
	background: rgba(255,255,255,0.4);
}


a.submit1{
	padding: 3%;
	display: block;
}
.submit1:hover{
	background: rgba(255,255,255,0.7);
}

form {
	margin: 15% 27%;
}

form input{
	margin: 2% 0;
}

/*------- Админка --------*/
tr:hover{
	background: rgba(255,255,255,0.4);	
}
td a{
	width: 100%;
	height: 100%;
	display: block;
}