html{
	height: 100%;
}
body{
	padding: 0; margin: 0;
	background: #fff no-repeat top center fixed;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

a{
	color: #444;
}

/* --- Хедер ---*/
header{
	margin: 0 auto;
	width: 940px;
	overflow: hidden;
	flex: 1 0 auto;
/*	background: black;
	color: white;*/
	box-shadow: 0px 2px 11px 3px rgba(204,204,204,0.5);
}
/*nav{
	margin: 0 53px;
}*/
nav ul{
	margin: 10px 12px;
	max-width: 100%;
	flex-wrap: wrap-reverse;
}
nav ul li{
	list-style: none;
	float: right;
	display: block;
	padding: 10px;
}

nav ul li a{
	padding: 10px;
	font-size: 16px;
}

nav ul li a:hover{
	/*background: rgba(120,120,120,0.3);*/
	text-decoration: none;
}


/* --- Основной контейнер ---*/
main{
	flex: 1 0 auto;
	min-height: 80%;
	overflow: hidden;
}

section{
	/*background: rgba(120,120,120, 0.4);*/
	overflow: hidden;
	width: 980px;
	margin: 120px auto; 
	padding: 1%;
	/*background: black;*/
}

article{
	padding: 1%;
	margin-top: 1%;
	/*width: 90%;*/
	min-height: 240px;
	margin: 2px;
	box-shadow: 0 0 30px 5px rgba(204,204,204,0.7);
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}
/*article:hover{
	background: rgba(255,255,255, 0.4);
}*/

.article_img{
	max-width: 20%;
 	max-height: 150px;
 	margin: 20px 5px 5px 5px;
}

.article--cont{
	margin-left: 5px;
}

.article--cont em{
	font-size: 12px;
}

.article--cont p{
	text-align: left;
	margin-right: 8px;
}
/* --- Футер ---*/
footer{
	flex: 0 0 auto;
	width: 980px;
	margin: 1% auto;
	padding: 0 1%;
}


/*------- Вход в админку --------*/
.form_admin{
	width: 30%;
	min-height: 60%;
	margin: 20 auto;
	background: rgba(255,255,255,0.4);
}


a.submit1{
	padding: 3%;
	display: block;
}
.submit1:hover{
	background: rgba(255,255,255,0.7);
}

form {
	margin: 15% 27%;
}

form input{
	margin: 2% 0;
}

/*------- Админка --------*/
tr:hover{
	background: rgba(255,255,255,0.4);	
}
td a{
	width: 100%;
	height: 100%;
	display: block;
}